{# vim:set ft=jinja: #}
<header class="container-fluid">
  <nav>
    <ul>
      <li>
        <a hx-boost="true" hx-push-url="true" href="/">
          <span class="sr-only">Home</span>
          <svg
            class="logo"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.5 3.5L20.5 8L20.5 16L17.5 20.5L6.5 20.5L3.5 16L3.5 8L6.5 3.5L17.5 3.5Z"
              fill="currentColor"
            />
            <path d="M9 11H15V13H9V11Z" fill="white" />
            <path d="M10 14H14V15H10V14Z" fill="white" />
          </svg>
        </a>
      </li>
    </ul>
    <ul hx-boost="true" hx-push-url="true">
      <li><a href="/about">About</a></li>
      {% if !is_authed %}
        <li><a href="/login" role="button" class="secondary outline">Login</a></li>
        <li><a href="/register" role="button">Register</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
