{# vim:set ft=jinja: #}
<nav class="container-fluid">
  <ul>
    <li>
      <a hx-boost="true" hx-push-url="true" href="/">
        <span class="sr-only">Home</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-house-icon lucide-house"
        >
          <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
          <path
            d="M3 10a2 2 0 0 1 .709-1.528l7-6a2 2 0 0 1 2.582 0l7 6A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
          />
        </svg>
      </a>
    </li>
  </ul>
  <ul hx-boost="true" hx-push-url="true">
    <li>
      <a role="button" href="/task/new"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-clipboard-plus-icon lucide-clipboard-plus"
        >
          <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
          <path
            d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
          />
          <path d="M9 14h6" />
          <path d="M12 17v-6" /></svg
      ></a>
    </li>
    {% if !is_authed %}
      <li>
        <a href="/login" role="button" class="secondary">Login</a>
      </li>
      <li><a href="/register" role="button">Register</a></li>
    {% else %}
      <li><a href="/logout" role="button" class="contrast outline">Logout</a></li>
    {% endif %}
  </ul>
</nav>
