{# vim:set ft=jinja: #}
<header class="bg-ctp-blue shadow">
  <div
    class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
    <a
      hx-boost="true"
      hx-push-url="true"
      href="/"
      class="block text-ctp-red"
      href="#"
    >
      <span class="sr-only">Home</span>
      <svg
        class="h-8"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.5 3.5L20.5 8L20.5 16L17.5 20.5L6.5 20.5L3.5 16L3.5 8L6.5 3.5L17.5 3.5Z"
          fill="currentColor"
        />
        <path d="M9 11H15V13H9V11Z" fill="white" />
        <path d="M10 14H14V15H10V14Z" fill="white" />
      </svg>
    </a>

    <div
      hx-boost="true"
      hx-push-url="true"
      class="flex flex-1 items-center justify-end md:justify-between"
    >
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a
              class="text-gray-500 transition hover:text-gray-500/75"
              href="/about"
            >
              About
            </a>
          </li>
        </ul>
      </nav>

      <div class="flex items-center gap-4">
        {% if !is_authed %}
          <div class="hidden sm:flex sm:gap-4">
            <a
              class="rounded-md bg-primary px-5 py-2.5 text-sm font-medium text-primary-foreground transition hover:bg-primary/90 shadow-xs"
              href="/login"
            >
              Login
            </a>

            <a
              class="rounded-md bg-secondary px-5 py-2.5 text-sm font-medium text-secondary-foreground transition hover:bg-secondary/80 shadow-xs"
              href="/register"
            >
              Register
            </a>
          </div>
        {% endif %}

        <div class="relative block sm:hidden">
          <button
            class="rounded-sm bg-gray-100 p-2.5 text-ctp-lavender-600 transition hover:text-gray-600/75"
            onclick="this.nextElementSibling.classList.toggle('hidden')"
          >
            <span class="sr-only">Toggle menu</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"
              />
            </svg>
          </button>

          <div
            class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg border border-ctp-lavender-900 hidden"
          >
            <div
              class="py-2 text-sm text-ctp-lavender-900 flex flex-col items-center"
              hx-boost="true"
              hx-push-url="true"
            >
              <a
                class="w-full px-4 py-2 hover:bg-ctp-lavender-100 hover:text-ctp-text"
                href="/about"
              >
                About
              </a>
              {% if !is_authed %}
                <a
                  class="w-full px-4 py-2 hover:bg-ctp-lavender-100 hover:text-ctp-text"
                  href="/login"
                >
                  Login
                </a>
                <a
                  class="w-full px-4 py-2 hover:bg-ctp-lavender-100 hover:text-ctp-text"
                  href="/register"
                >
                  Register
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
