{# vim:set ft=jinja: #}
<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taskbane: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/public/css/pico.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
  </head>
  <body hx-ext="response-targets">
    <progress id="loading-bar"></progress>
    {% include "partials/alerts.html" %}
    {% include "partials/navbar.html" %}

    <main class="container">{% block content %}{% endblock %}</main>

    <footer class="container">
      <section>
        <nav>
          <ul>
            <li>
              <a
                href="https://berkeleytrue.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                created by Berkeley
              </a>
            </li>
            <li>
              <a
                href="https://github.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                @github
              </a>
            </li>
          </ul>
        </nav>
      </section>
    </footer>
    <script src="/public/js/livereload.js"></script>
    <script src="/public/js/htmx.js"></script>
    <script src="/public/js/htmx-response-targets.js"></script>
    <script src="/public/js/modal.js"></script>
    <script src="/public/js/app.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
