{# vim: set ft=jinja: #}
{% extends "_layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <article>
    <form id="register-form" hx-on:submit="register(event);">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        hx-get="/auth/username_validation"
        hx-target="#username-error"
        hx-select="#username-error"
        hx-swap="outerHTML"
        hx-trigger="keyup[target.value.length > 3] changed delay:500ms"
      />
      <p id="username-error" class="form-error"></p>
      <button id="login-button" type="submit">Register with Passkey</button>
    </form>
    <small><a href="/login">Already have an account? Login here.</a></small>
  </article>
{% endblock %}

{% block scripts %}
  <script src="/public/js/js-base64.js"></script>
  <script src="/public/js/register.js"></script>
{% endblock %}
