{# set vim: set ft=jinja: #}
{% extends "_layout.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
  <section id="task-list">
    <h1>Tasks</h1>
    {% for task in tasks %}
      <article
        id="task-card"
        class="
        {% if task.is_blocked %}
          blocked
        {% else if task.is_blocking %}
          blocking
        {% endif %}





        {% match task.due_status %}
          {% when crate::core::models::task::TaskDueStatus::Due %}
          due {% when crate::core::models::task::TaskDueStatus::DueSoon %}
          due-soon {% when crate::core::models::task::TaskDueStatus::DueToday %}
          due-today {% when crate::core::models::task::TaskDueStatus::OverDue %}
          overdue {% when _ %}
        {% endmatch %}"
      >
        <header>
          <span id="task-id" class="">{{ task.id }}</span>
          <div id="task-meta">
            {% if let Some(due) = task.due %}
              <div id="task-due">{{ due }}</div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-watch-icon lucide-watch"
              >
                <path d="M12 10v2.2l1.6 1" />
                <path
                  d="m16.13 7.66-.81-4.05a2 2 0 0 0-2-1.61h-2.68a2 2 0 0 0-2 1.61l-.78 4.05"
                />
                <path
                  d="m7.88 16.36.8 4a2 2 0 0 0 2 1.61h2.72a2 2 0 0 0 2-1.61l.81-4.05"
                />
                <circle cx="12" cy="12" r="6" />
              </svg>
            {% endif %}
            <div id="task-urg">{{ task.urgency|fmt("{:.1}") }}</div>
            <div
              id="task-pri"
              class="pill outline
              {% if task.priority == "l" %}
                contrast
              {% else if task.priority == "m" %}
                contrast
              {% endif %}"
            >
              {{ task.priority }}
            </div>
          </div>
        </header>

        <div id="task-desc">
          <span>{{ task.description }}</span>
        </div>
        <div id="task-deps-tags">
          {% if !task.tags.is_empty() %}
            <div id="task-tags">{{ task.tags }}</div>
          {% endif %}
          {% if !task.deps.is_empty() %}
            <div id="task-deps">{{ task.deps }}</div>
          {% endif %}
        </div>

        <footer>
          <a
            role="button"
            class="outline primary"
            hx-get="/task/{{ task.uuid }}"
            hx-target="body"
            hx-push-url="true"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-eye-icon lucide-eye"
            >
              <path
                d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
              />
              <circle cx="12" cy="12" r="3" />
            </svg>
          </a>

          <button
            class="contrast outline"
            hx-get="/task/{{ task.uuid }}/confirm-done"
            hx-target="#modal-task_done"
            hx-swap="outerHTML"
            hx-on::after-request="openModal(document.getElementById('modal-task_done'))"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-square-check-big-icon lucide-square-check-big"
            >
              <path
                d="M21 10.656V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h12.344"
              />
              <path d="m9 11 3 3L22 4" />
            </svg>
          </button>
        </footer>
      </article>
    {% endfor %}
    {% if tasks.len() == 0 %}
      <p><em>No tasks found.</em></p>
    {% endif %}
  </section>
  <dialog id="modal-task_done"></dialog>
{% endblock %}
