{# set vim: set ft=jinja: #}
{% extends "_layout.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
  <section>
    <h1>Tasks</h1>
    <table id="task-table">
      <thead>
        <tr>
          <th>id</th>
          <th>Desc</th>
          <th>Pri</th>
          <th>Urg</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr class="{% if task.is_blocked %}blocked{% else if task.is_blocking %}blocking{% endif %}">
            <td><code>{{ task.id }}</code></td>
            <td>{{ task.description }}</td>
            <td>{% if task.priority.len() > 0 %}{{ task.priority }}{% endif %}</td>
            <td>{{ task.urgency|fmt("{:.2}") }}</td>
            <td>
              <button class="outline">View Details</button>
            </td>
          </tr>
        {% endfor %}
        {% if tasks.len() == 0 %}
          <tr>
            <td colspan="5"><em>No tasks found.</em></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </section>
{% endblock %}
