{# set vim: set ft=jinja: #}
{% extends "_layout.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
  <section>
    <h1>Tasks</h1>
    <table id="task-table" class="striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Desc</th>
          <th>Pri</th>
          <th>Tags</th>
          <th>Urg</th>
          <th>Deps</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
          <tr
            class="{% if task.is_blocked %}blocked{% else if task.is_blocking %}blocking{% endif %}"
          >
            <td>{{ task.id }}</td>
            <td>{{ task.description }}</td>
            <td>
              {% if task.priority.len() > 0 %}{{ task.priority }}{% endif %}
            </td>
            <td>{{ task.tags }}</td>
            <td>{{ task.urgency|fmt("{:.2}") }}</td>
            <td>{{ task.deps }}</td>
            <td>
              <a class="outline" href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-eye-icon lucide-eye"
                >
                  <path
                    d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
                  />
                  <circle cx="12" cy="12" r="3" />
                </svg>
              </a>
            </td>
          </tr>
        {% endfor %}
        {% if tasks.len() == 0 %}
          <tr>
            <td colspan="5"><em>No tasks found.</em></td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </section>
{% endblock %}
