{# vim: set ft=jinja: #}
{% extends "_layout.html" %}

{% block title %}Link your TaskWarrior database{% endblock %}

{% block content %}
  <article id="authorize-user">
    <hgroup>
      <h1>Link your TaskWarrior database</h1>
      <p>
        Before you can view your tasks, you need to verify ownership of your
        TaskWarrior database.
      </p>
    </hgroup>
    <ol>
      <li>
        Add the following task to your TaskWarrior database:
        <pre><code>task add "taskbane:{{ token }}"</code></pre>
      </li>
      <li>
        Sync your database:
        <pre><code>task sync</code></pre>
      </li>
    </ol>
    <footer>
      <button
        onclick="navigator.clipboard.writeText(this.dataset.value).then(() => { this.textContent = 'Copied!'; setTimeout(() => this.textContent = 'Copy to Clipboard', 2000) })"
        data-value="task add 'taskbane:{{ token }}'"
      >
        Copy To Clipboard
      </button>
      <button
        hx-post="/auth/authorize-user"
        hx-target="#alert-container"
        hx-swap="innerHTML"
      >Verify</button>
    </footer>
  </article>
{% endblock %}
